
@{
    ViewBag.Title = "BIC : Working Day's";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/assets/js/tooltipster.main.min.js"></script>
<script src="~/assets/js/tooltipster.bundle.min.js"></script>
<link href="~/assets/css/tooltipster.bundle.min.css" rel="stylesheet" />
<link href="~/assets/css/tooltipster.main.min.css" rel="stylesheet" />
<script src="~/assets/js/tableHeadFixer.js"></script>
 
<style type="text/css">
    .modal {
        overflow: auto;
    }

    .actionbtnwrapper {
        position: absolute;
        right: 34px;
        top: -1px;
    }

    @@media screen and (-webkit-min-device-pixel-ratio:0) {
        .actionbtnwrapper {
            position: absolute;
            right: 34px;
            top: 0px;
        }
    }

    .btn-toolbar {
        line-height: 29px !important;
        padding: 0px 10px !important;
        margin-right: -6px !important;
        border-left: 1px solid #fff;
        margin: 0 !important;
    }

    .clsList-FilledFilter {
        text-shadow: 0px 0px 7px #143ddf;
    }

    .clsList-EmptyFilter {
        color: #D5D5D5 !important;
    }

    .dropdown-menu.clsbtnRangePrint > li:hover > a {
        background: #82AF6F;
    }
</style>
 


<div class="breadcrumbs ace-save-state hide" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-calendar calendar-icon"></i>
            <span>Working Day's</span>
        </li>
    </ul><!-- /.breadcrumb -->

    <div class="nav-search" id="nav-search">
        <button style="margin-top:-5px;" id="btnAdd" title="Add Working Day's'" type="button" data-url="#" data-urltype="#" data-formTitle="Add Working Day's'" class="btn btn-trans btn-sm pull-left">
            <i class="fa fa-plus-circle bigger-180" style="vertical-align: top; line-height: 30px;"></i>&nbsp;
            <span style="vertical-align: top ! important; line-height: 30px;">Add</span>
        </button>
    </div><!-- /.nav-search -->
</div> 
<div class="col-xs-12 col-sm-12 widget-container-span ui-sortable no-padding ">
    <div id="DateFilters" class="widget-box">
        <div class="widget-body">
            <div class="widget-main row no-margin" style="background-color:#eee;">
                <div class="col-sm-12  form-group  no-margin">
                    @*<div class="col-sm-4 col-xs-12">
                        <input type="text" id="txtSearchHelpTxtbox" class="width-100 input-sm lbl-font" placeholder="Search ..." onkeyup="FilterTblData()">
                    </div>*@
                    <div class="form-group col-sm-4 no-padding">
                        <label class="col-sm-2 col-xs-12 control-label no-padding-right">
                            Year
                        </label>
                        <div class="col-sm-10 col-xs-12 no-padding-left">
                            <input type="text" id="ddlYear" name="Year" class="col-xs-10 col-sm-11 width-100 no-padding" />
                        </div>
                    </div>

                    <div class="form-group col-sm-4 no-padding">
                        <div class="col-sm-12 col-xs-12 no-padding-left ">

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="LookUpDiv" class="col-sm-12 col-xs-12 no-padding">
    <div class="row " id="lookupList">
        @Html.Action("WorkingCalendarList", "WorkdayCalendar")
    </div>
</div>


<div id="DivwaitingControl" style="z-index:1040;position:absolute;top:40%;" class="col-sm-12 col-xs-12 row hide center">
    <i class="fa fa-spinner fa fa-spin orange bigger-300 "></i>
</div>
<div id="Divwaitingback" class="modal-backdrop fade in hide"></div>


<a id="dlink" style="display:none;"></a>

<div id="Addpopup_box" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog modal-lg width-50">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="ActivityHeader"></h4>
            </div>
            <div id="Divwaitingtr" class="hide widget-box-overlay">
                <div id="" style="z-index:1040;position:absolute;top:50%;" class="col-sm-12 col-xs-12 row center">
                    <i class="fa fa-spinner fa fa-spin orange bigger-300"></i>
                </div>
            </div>
            <div class="modal-body no-padding-bottom" id="LoadForm">
                <div class="col-xs-12 center hide" id="LoadingAdd">
                    <h3 class="header smaller lighter grey">
                        <i class="ace-icon fa fa-spinner fa-spin orange bigger-120"></i>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>







<script type="text/javascript">

    (function ($) {

        var htm = $("#breadcrumbs").html();
        $("#newBread").html(htm);

        $('#Addpopup_box').on('hidden.bs.modal', function () {
            loadLookup(1);
        });


        //Item type select2
        $("#ddlYear").select2({
            placeholder: "All",
            allowClear: true,
            multiple: false,
            ajax: {
                url: "/CommonLibrary/_FillControlNo",
                data: function (term, page) {
                    return {
                        CONTROLENO: 0,
                        DESCRIPTION: term
                    };
                },
                results: function (data) {
                    return { results: data };
                }
            }
        }).on('change', function () {
            loadLookup(1);
        });


        $('#btnAdd').on('click', function () {
            $('#Divwaitingtr').removeClass('hide');
            var url = 'WorkdayCalendar/AddWorkCalendar';
            var title = "Add Work Day's";

            $('#ActivityHeader').text(title);
            $('#Addpopup_box').modal('show');

            $.get("/" + url, function (data) {
                $('#LoadForm').html('');
                $('#LoadForm').html(data);
                $('#Divwaitingtr').addClass('hide');
            });
        });

    }(jQuery));

    function loadLookup(pageNo) {
        var url = '/WorkdayCalendar/WorkingCalendarList';
        var data = { ControlNo: $("#ddlYear").val(), searchtext: $('#txtSearchHelpTxtbox').val(), PageNo: pageNo }
        $.get(url, data, function (data) {
            $('#lookupList').html('');

            $('#lookupList').html(data);
        });
    }

    function FilterTblData() {
        loadLookup(1);
    }

    function tableToExcel(table, name, filename) {
        var uri = 'data:application/vnd.ms-excel;base64,',
              template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml></head><body><table>{table}</table></body></html>'
          , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
          , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }

        if (!table.nodeType) table = document.getElementById(table)
        var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
        document.getElementById("dlink").href = uri + base64(format(template, ctx));
        document.getElementById("dlink").download = filename;
        document.getElementById("dlink").click();
    }


    //function to create XML and show records which satisfies the given criteria
    function ExportToExcel(tblName, pageno) {
        var inputval = $("#SearchTxtbox" + tblName).val();
        //inputval=Replace_SpecialCharacters(inputval);
        inputval = $.c9ReplaceSpecialCharacters(inputval);
        var itemcode = $("#ITEMCODE" + tblName).val();
        var xmlfile = '<FILTERXML  SearchText="' + inputval + '" ></FILTERXML>';
        ExportExcelGrid(0, 0, xmlfile, pageno, 'MyLoadTable', 'My');
    }
</script>





